<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Task Manager</h1>
        <div class="input-group">
            <input type="text" id="task-input" placeholder="Enter your task here..." />
            <button id="add-task">Add Task</button>
        </div>
        <div id="task-container">
            <ul id="task-list" class="list-group"></ul>
        </div>
    </div>
    <footer>
        <p style="text-align: center">&copy; 2024 Task Manager App</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
